
/* Result Benefit Section */

.Benefit {
  background: linear-gradient(135deg, #d0bdf4, #c6a7e2);
  border: 2px solid #d8b4fe;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
  
}
.Benefit img {
  animation: vibrate-2 1.9s linear infinite;
  gap: 24px;
  margin-bottom: 48px;
  flex-wrap:wrap;
  padding: 40px 20px;
  color: black;
  opacity: 0.7;
  width: calc(100%/2);
  position: relative;
  border-radius: 7px;
}